<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/CodingClub_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning to work with Lists

Let's start with a basic list with 5 elements:
ls = [12, 35, 9, 56, 24]

In [1]:
ls = [12, 35, 9, 56, 24]

**Task #1** - Write a Python program to swap first and last element of the list.

hence, the output should be [24, 35, 9, 56, 12]

In [3]:
first = ls[0]
last = ls[-1]

ls[0] = last
ls[-1] = first

ls

[12, 35, 9, 56, 24]

Do the same task but this time by defining a function. Thus you need to write a function that takes in a list and swaps first and last element of the list.

In [6]:
def fun_swap(ls):
  first = ls[0]
  last = ls[-1]

  ls[0] = last
  ls[-1] = first
  
  return ls

In [7]:
#run this to print you answer
test = ['a','b','c']
swaped_ls = fun_swap(test)
print(swaped_ls)

['c', 'b', 'a']

**Task #2** - for ls, print the largest and the second largest number

expected output: 

The largest number is: 56

The second largest number is: 35

In [9]:
sorted(ls)[-1], sorted(ls)[-2]

(56, 35)

### Now we introduce a list of strings

test_list = ['it is good to learn Python', 'python is for geeks', 'I love python']

In [ ]:
test_list = ["it is good to learn Python", "python is for geeks", "I love python"]

you have another string - 'python lists are useful'

**Task #3** - add this string to test_list

expected Output: test_list = ['it is good to learn Python', 'python is for geeks', 'I love python', 'python lists are useful']

In [ ]:
str = 'python lists are useful'

In [ ]:
# write the code to add str to test_lst

**Task #4** - From the updated test_list extract all words starting with 'l'

expected Output : [‘learning’, ‘love’, 'lists']

In [ ]:
#write your code here

### Let's move on to dictionaries

You have 2 lists:

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

**Task #5** is to convert them into a dictionary

expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
#write your code here

**Tast #6**: First rename key 'Twenty' to 'to_remove' and then remove the key from the dictionary.

expected output: {'Ten': 10, 'Thirty': 30}

In [ ]:
#write your code here

### Lastly let's write some loops and conditional statements

**task #7**: Accept a number from user and calculate the sum of all number from 1 to a given number

For example, if user entered 10 the output should be 55.

In [ ]:
#write your code here

**task #8** combines loop and conditioal statements.

you have list ls. you would need to iterate it, display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

In [ ]:
ls = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

Expected output:

15

55

75

150

In [ ]:
#write you code here