<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/glassnode_api_trial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import requests
import pandas as pd

In [2]:
# insert your API key here
API_KEY = '1qB8yWqDAe7Ti2LJGJAahbPhp0N'

# make API request
res = requests.get('https://api.glassnode.com/v1/metrics/indicators/sopr',
    params={'a': 'BTC', 'api_key': API_KEY})

# convert to pandas dataframe
df = pd.read_json(res.text, convert_dates=['t'])

In [3]:
df.head()

           t         v
0 2010-07-17  1.000000
1 2010-07-18  1.174760
2 2010-07-19  1.318536
3 2010-07-20  1.090517
4 2010-07-21  1.065532