<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/Google_CoLab_DL_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Loading Libraries

In [1]:
!pip install -q tensorflow==2.0.0-beta1

     |████████████████████████████████| 87.9MB 59kB/s
     |████████████████████████████████| 3.1MB 42.5MB/s
     |████████████████████████████████| 501kB 59.8MB/s

In [0]:
%%capture
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [0]:
from tensorflow.keras.layers import Input, Conv2D, Dense, Flatten, Dropout, GlobalMaxPooling2D, MaxPooling1D, GaussianNoise, BatchNormalization, MaxPooling2D, SimpleRNN, GRU, LSTM, GlobalMaxPooling1D, Embedding
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.optimizers import SGD, Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer

In [0]:
from scipy import stats
import math
import seaborn as sns
import re
from nltk.stem import WordNetLemmatizer
import re

### Data

In [7]:
!wget -nc http://files.grouplens.org/datasets/movielens/ml-20m.zip

--2020-02-05 19:25:41--  http://files.grouplens.org/datasets/movielens/ml-20m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198702078 (189M) [application/zip]
Saving to: ‘ml-20m.zip’

ml-20m.zip          100%[===================>] 189.50M   101MB/s    in 1.9s

2020-02-05 19:25:43 (101 MB/s) - ‘ml-20m.zip’ saved [198702078/198702078]

In [8]:
!unzip ml-20m.zip

Archive:  ml-20m.zip
   creating: ml-20m/
  inflating: ml-20m/genome-scores.csv
  inflating: ml-20m/genome-tags.csv
  inflating: ml-20m/links.csv
  inflating: ml-20m/movies.csv
  inflating: ml-20m/ratings.csv
  inflating: ml-20m/README.txt
  inflating: ml-20m/tags.csv

In [0]:
df = pd.read_csv ('ml-20m/ratings.csv')

In [0]:
df.sort_values (by='timestamp', inplace=True, ascending=True)

In [18]:
df.head(3)

          userId  movieId  rating  timestamp
4182421    28507     1176     4.0  789652004
18950936  131160       47     5.0  789652009
18950930  131160       21     3.0  789652009

In [0]:
cutoff = int(len(df)*.80)
df['user_id'] = pd.Categorical (df['userId'])
df['movie_id'] = pd.Categorical (df['movieId'])
train, test = df.iloc[:cutoff], df.iloc[cutoff:]

In [30]:
df.head(3)

          userId  movieId  rating  timestamp user_id movie_id
4182421    28507     1176     4.0  789652004   28507     1176
18950936  131160       47     5.0  789652009  131160       47
18950930  131160       21     3.0  789652009  131160       21