<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/Google_CoLab_Dip_Passive_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta

In [0]:
df = pd.read_csv ('VTSMX.csv')

In [0]:
df['Month'] = pd.DatetimeIndex (df['Date']).month
df['Day'] = pd.DatetimeIndex (df['Date']).day

In [0]:
df['Change30'] = df['Close'].pct_change(periods=30)
df['Change20'] = df['Close'].pct_change(periods=20)
df['Change10'] = df['Close'].pct_change(periods=10)

In [0]:
df_final = df.dropna()
df_final.reset_index (inplace=True)

In [444]:
df_final.head()

   index        Date   Open   High  ...  Day  Change30  Change20  Change10
0     30  1992-06-09  10.12  10.12  ...    9  0.008973 -0.018429 -0.001972
1     31  1992-06-10  10.05  10.05  ...   10  0.005000 -0.020468 -0.010827
2     32  1992-06-11  10.07  10.07  ...   11  0.007000 -0.018519 -0.017561
3     33  1992-06-12  10.10  10.10  ...   12 -0.007859 -0.007859 -0.014634
4     34  1992-06-15  10.10  10.10  ...   15 -0.007859 -0.001976 -0.019417

[5 rows x 13 columns]

In [0]:
t = len (df_final)

In [0]:
month = df_final['Month'].values
day = df_final['Day'].values
change = df_final['Change30'].values
price = df_final['Close'].values
date = df_final['Date'].values

In [0]:
date = np.array ([datetime.strptime(i, '%Y-%m-%d') for i in date])

In [448]:
timedelta ()

datetime.timedelta(0)

In [0]:
middle = []
first = []
rule = []

In [0]:
m = date[0].month + 1

for i in range(len(price)-1):
  if (date[i].day >= 15) and (month[i] == m):
    middle.append (date[i])
    m = (date[i]+relativedelta(months=1)).month

In [0]:
m = date[0].month + 1

for i in range(len(price)-1):
  if (change[i] < 0) and (month[i] == m):
    rule.append (date[i])
    m = (date[i]+relativedelta(months=1)).month
  elif (date[i].month != date[i+1].month) and (month[i] == m):
    rule.append (date[i])
    m = (date[i]+relativedelta(months=1)).month

In [0]:
for i in range(len(price)-1):
  if date[i].month != date[i-1].month:
    first.append (date[i])

In [453]:
rule[0], rule[-1]

(datetime.datetime(1992, 7, 1, 0, 0), datetime.datetime(2020, 1, 31, 0, 0))

In [454]:
middle[0], middle[-1]

(datetime.datetime(1992, 7, 15, 0, 0), datetime.datetime(2020, 2, 18, 0, 0))

In [0]:
def test_months (z):
  assert type (z) == list
  fx = [x.month for x in z]
  test = []
  for i in fx:
    test.append (fx[i-1] == fx[i])
  return sum (test)

In [0]:
rx = [(x.year,x.month) for x in rule]
fx = [(x.year,x.month) for x in first]
mx = [(x.year,x.month) for x in middle]

In [457]:
set(fx) - set (rx)

{(1992, 6), (2020, 2)}

In [458]:
set(fx) - set (mx)

{(1992, 6)}

In [459]:
set(mx) - set (rx)

{(2020, 2)}

In [0]:
first = [z.strftime ('%Y-%m-%d') for z in first if (z.year,z.month) not in list(set(fx) - set (rx))]
middle = [z.strftime ('%Y-%m-%d') for z in middle if (z.year,z.month) not in list(set(mx) - set (rx))]
rule = [z.strftime ('%Y-%m-%d') for z in rule]

In [461]:
len(rule), len(middle), len(first)

(331, 331, 331)

In [0]:
first_close = df_final['Close'][df_final['Date'].isin(first)]
rule_close = df_final['Close'][df_final['Date'].isin(rule)]
middle_close = df_final['Close'][df_final['Date'].isin(middle)]

In [470]:
len(rule_close), len(middle_close), len(first_close)

(331, 331, 331)