<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/Google_CoLab_Dip_Passive_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime

In [0]:
df = pd.read_csv ('VTSMX.csv')

In [0]:
df['Month'] = pd.DatetimeIndex (df['Date']).month
df['Day'] = pd.DatetimeIndex (df['Date']).day

In [0]:
df['Change30'] = df['Close'].pct_change(periods=30)
df['Change20'] = df['Close'].pct_change(periods=20)
df['Change10'] = df['Close'].pct_change(periods=10)

In [0]:
df_final = df.dropna()

In [125]:
df_final.head()

          Date   Open   High    Low  ...  Day  Change30  Change20  Change10
30  1992-06-09  10.12  10.12  10.12  ...    9  0.008973 -0.018429 -0.001972
31  1992-06-10  10.05  10.05  10.05  ...   10  0.005000 -0.020468 -0.010827
32  1992-06-11  10.07  10.07  10.07  ...   11  0.007000 -0.018519 -0.017561
33  1992-06-12  10.10  10.10  10.10  ...   12 -0.007859 -0.007859 -0.014634
34  1992-06-15  10.10  10.10  10.10  ...   15 -0.007859 -0.001976 -0.019417

[5 rows x 12 columns]

In [0]:
t = len (df_final)

In [127]:
t

6977

In [0]:
month = df_final['Month'].values
day = df_final['Day'].values
change = df_final['Change30'].values
price = df_final['Close'].values
date = df_final['Date'].values

In [0]:
date = np.array ([datetime.strptime(i, '%Y-%m-%d') for i in date])

In [137]:
date

array([datetime.datetime(1992, 6, 9, 0, 0),
       datetime.datetime(1992, 6, 10, 0, 0),
       datetime.datetime(1992, 6, 11, 0, 0), ...,
       datetime.datetime(2020, 2, 18, 0, 0),
       datetime.datetime(2020, 2, 19, 0, 0),
       datetime.datetime(2020, 2, 20, 0, 0)], dtype=object)

In [0]:
middle = []
first = []
rule = []

In [0]:
type(date[1])

In [0]:
len(middle)