<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/Google_CoLab_XGB_CoVid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from xgboost import XGBClassifier as XGBC

In [0]:
import numpy as np
import pandas as pd

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

In [0]:
!unzip -q covid19.zip

In [0]:
data = pd.read_csv ('COVID19_line_list_data.csv')

In [7]:
data.columns.values

array(['id', 'case_in_country', 'reporting date', 'Unnamed: 3', 'summary',
       'location', 'country', 'gender', 'age', 'symptom_onset',
       'If_onset_approximated', 'hosp_visit_date', 'exposure_start',
       'exposure_end', 'visiting Wuhan', 'from Wuhan', 'death',
       'recovered', 'symptom', 'source', 'link', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'], dtype=object)

In [0]:
small = data [['gender','age','exposure_start','symptom_onset','death','recovered']]

In [12]:
small.dropna()

      gender   age exposure_start symptom_onset death recovered
0       male  66.0     12/29/2019      01/03/20     0         0
7       male  37.0       01/10/20     1/14/2020     0         0
8       male  39.0       01/03/20      01/09/20     0         0
9       male  56.0       01/08/20     1/16/2020     0         0
10    female  18.0       01/12/20     1/19/2020     0         0
...      ...   ...            ...           ...   ...       ...
948   female  59.0      1/25/2020     2/24/2020     0         0
949   female  58.0      1/25/2020      02/04/20     0         0
957   female  21.0      1/25/2020      02/12/20     0         0
958     male  16.0      1/25/2020     2/17/2020     0         0
1084    male  70.0      2/15/2020     2/17/2020     0         0

[75 rows x 6 columns]