<a href="https://colab.research.google.com/github/LeonVillanueva/CoLab/blob/master/Google_CoLab_XGB_Big5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from xgboost import XGBClassifier

In [0]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [0]:
# https://stackoverflow.com/questions/57986259/multiclass-classification-with-xgboost-classifier

In [0]:
# !unzip -q original.zip

In [0]:
model = XGBClassifier (learning_rate=0.5, objective='multi:softmax')

In [0]:
big5 = pd.read_csv ('big5.csv', sep='\t')

In [15]:
big5.head()

   EXT1  EXT2  EXT3  ...  country  lat_appx_lots_of_err  long_appx_lots_of_err
0   4.0   1.0   5.0  ...       GB               51.5448                 0.1991
1   3.0   5.0   3.0  ...       MY                3.1698                101.706
2   2.0   3.0   4.0  ...       GB               54.9119                -1.3833
3   2.0   2.0   2.0  ...       GB                 51.75                  -1.25
4   3.0   3.0   3.0  ...       KE                   1.0                   38.0

[5 rows x 110 columns]